/* General style */
* {
  font-family: "Marhey", sans-serif;
}

body {
  background-color: #2b2a4c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #b31312;
}

p {
  color: #ea906c;
}

h1 {
  font-size: 3.5rem;
}

/* btn upload */
.upload-box {
  height: 250px;
  width: 250px;
  aspect-ratio: 1/1;
  background-color: #eee2de;
  border: 2px solid #b31312;
  box-shadow: 0px 0px 18px 2px rgba(181, 18, 18, 0.5);
  border-radius: 25px;
  margin: auto;
  cursor: pointer;
  transition: all 0.5s;
}

.upload-box:hover {
  transform: scale(0.98);
  box-shadow: inset 0px 0px 18px 2px rgba(181, 18, 18, 0.5);
}

.upload-box > i {
  font-size: 5rem;
  color: #2b2a4c;
}

.upload-box-small {
  height: 50px;
  width: 50px;
  border-radius: 5px;
  margin-top: 3rem;
}

.upload-box-small > i {
  font-size: 1rem;
  color: #2b2a4c;
}

/* image preview */
.img-preview-box {
  border: 2px solid #b31312;
  box-shadow: 0px 0px 18px 2px rgba(181, 18, 18, 0.5);
  border-radius: 25px;
  width: 500px;
}

.img-preview {
  width: 100%;
  border-radius: 25px;
}

/* filters box */
.filters-box {
  border-radius: 25px;
  padding: .3rem;
  color: #eee2de;
  background-color: rgba(238, 225, 221, 0.3);
}

.filters-box > div {
  padding: 1rem;
}

.filters-box > div > input {
  /* selezione del range */
  &::-webkit-slider-thumb {
    background-color: #b31312;
  }
}

/* error */
.error-message {
  padding: 1rem;
  text-align: center;
  color: #b31312;
}